.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @include cardShadow;
    width: 80%;
    height: fit-content;
    padding: 50px;

    .login_title {
      font-size: 50px;
      font-weight: 800;
      text-transform: uppercase;
      border-bottom: 6px solid $color-primary;
      padding-bottom: 10px;
      text-align: center;
    }

    .login_form {
      display: flex;
      flex-direction: column;
      gap: 45px;

      .login_form_email,
      .login_form_password,
      .login_form_username {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
      }

      &_label {
        font-size: 22px;
        font-weight: 700;
        text-align: right;
        margin-left: auto;
      }

      &_input {
        font-size: 16px;
        font-weight: 400;
        border: 1px solid $color-primary;
        padding: 9px 11px;
        width: 300px;
      }

      &_button {
        width: 50%;
        height: 45px;
        font-size: 16px;
        font-weight: 700;
        align-self: center;
      }
    }

    .navigate_button {
      background-color: $color-secondary;
      height: 45px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  @include mobile {
    .login-card {
      padding: 30px 15px;

      .login_title {
        font-size: 30px;
      }

      .login_form {
        width: 80%;
        .login_form_email,
        .login_form_password {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }

        &_label {
          font-size: 18px;
          text-align: left;
          margin-left: 0;
        }

        &_input {
          font-size: 14px;
          width: 100%;
        }

        &_button {
          width: 80%;
        }
      }
    }
  }
}
