// Colors
$color-white: #ffffff;
$color-black: #231f20;
$color-primary: #f39200;
$color-secondary: #feb913;
$color-green: #17aa00;
$color-red: #f00707;

// Fonts
$font-montserrat: 'Montserrat';
$font-delius-unicase: 'Delius Unicase';

// Breakpoints
$screen-small-desktop: 1200px;
$screen-tablet: 900px;
$screen-mobile: 768px;
