.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 40px 32px;
  width: 100%;

  .edit-form_entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  select {
    padding: 10px;
    border: 2px solid $color-primary;
    font-family: $font-montserrat;
    font-size: 24px;
    font-weight: 700;

    &:focus {
      border: 2px solid $color-secondary;
    }
  }

  input {
    padding: 10px;
    border: 2px solid $color-black;
    font-family: $font-montserrat;
    font-size: 20px;
    font-weight: 500;
  }

  &_input_number {
    width: 30%;
  }

  label {
    font-size: 24px;
    font-weight: 700;
  }

  &_button {
    height: 45px;
  }
}
