.filters-card {
  @include cardShadow;
  width: 300px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 45px;

  .filters-categories {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &_title {
      font-size: 24px;
      font-weight: 700;
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .filters-category {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: flex-start;

      &_chevron {
        font-size: 18px;
      }

      &_name {
        font-size: 20px;
        font-weight: 700;
      }

      &:hover {
        .filters-category_chevron,
        .filters-category_name {
          color: $color-primary;
        }
      }
    }
  }

  .filters-price {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &_title {
      font-size: 20px;
      font-weight: 700;
    }

    &_values {
      font-size: 18px;
      font-weight: 600;
    }

    &_range {
      accent-color: $color-primary;
      cursor: pointer;
    }
  }

  .filters-search {
    display: flex;
    flex-direction: row;
    gap: 2px;

    &_input {
      height: 35px;
      border-radius: 5px;
      border: 1px solid $color-primary;
    }

    &_button {
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      border-radius: 5px;
      cursor: pointer;
      border: none;

      &_icon {
        color: $color-white;
        height: 13px;
        width: 13px;
      }
    }
  }

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}
