header {
  width: 100vw;
  height: 90px;
  padding: 0 70px;
  background-color: $color-secondary;
  @include border;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header-logo {
    height: 70px;
    width: 260px;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    gap: 35px;

    &_login {
      padding: 14px;
      background-color: $color-white;
      color: $color-black;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid $color-black;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }

    &_cart {
      padding: 14px;
      background-color: $color-primary;
      color: $color-white;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid $color-black;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  }
}
